/* For single card component */
.wrapper {
  @apply bg-white hover:shadow-none cursor-pointer flex flex-col items-center justify-center;
}

.wrapperAnime {
  @apply transition-all duration-500 ease-in-out;
}

.header {
  @apply relative mx-2;
}

.imageWrapper {
  @apply overflow-hidden w-[140px] h-[244px];
  border-radius: 11px;
}

.image {
  @apply object-cover w-full h-full;
}

.textWrapper {
  @apply pt-1 w-full px-2;
}

.textTitle {
  @apply text-ellipsis w-[140px] overflow-hidden font-normal items-center;
  font-weight: 500;
  font-size: 19px;
  line-height: 24px;

  /* Shades/Black */
  color: #002053;

  white-space: nowrap;
}

.region {
  @apply flex flex-row items-center w-[140px];
  width: 140px;
}

.textRegion {
  @apply flex text-ellipsis overflow-hidden items-center font-normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  /* Shades/Black */
  color: #002053;

  white-space: nowrap;
}

.badgeWrapper {
  @apply absolute bottom-0 left-0 mb-2 ml-2 mr-2 flex flex-row justify-between;
  width: 88%;
}

.dangerBadge {
  @apply flex items-center justify-center text-xl text-red-500 hover:text-white;
}

.primaryBadge {
  @apply relative flex flex-row justify-center items-center px-[5px] py-[2px] font-normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4486EA;

  background: #FFFFFF;
  border-radius: 3px;
}

.badgeAnime {
  @apply transform-gpu translate-y-0 hover:-translate-y-1 transition-all duration-300 ease-in-out;
}

.geoBadgeWrapper {
  @apply absolute top-0 left-0 mt-2 ml-2 mr-2 flex flex-row justify-between;
  width: 88%;
}

.geoCrossBadge {
  @apply flex items-center;
}

.getTextWrapper {
  @apply relative h-[68px] -top-[68px] pt-1 w-full px-2;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 12px 12px;
}

.geoDivide {
  @apply flex items-center w-[59px] mx-auto;
  border-top: 3px solid #002053;
}
