.sortButton {
  @apply flex flex-row w-full justify-center items-center rounded-md bg-black bg-opacity-20 text-white hover:bg-opacity-30 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75;
  padding: 10px 47px;
  gap: 20px;
  width: 330px;
  height: 44px;
  background: #317EF7;
  border-radius: 5px;

  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.sortItems {
  @apply absolute left-0 mt-2 w-52 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-50;
}
