.bar {
  @apply flex flex-row items-center gap-[10px] w-[122px] h-16 ml-16;
}

.notification {
  @apply flex flex-row justify-center items-center mt-1;
}

.notificationPanel {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 10px;

  position: absolute;
  width: 433.67px;
  height: 458px;

  background: #FFFFFF;
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

.message {
  @apply ml-4 font-normal text-[16px] leading-[24px] items-center text-primary-400;
}
