.bar {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 280px;
  height: 48px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.iconBox {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  width: 48px;
  height: 48px;

  /* Primary/Primary 500 */
  background: #1D4E7A;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}